<h3>Update User</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.user_name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.user_email" name="email">
    </div>

    <div class="form-group">
      <label for="name">Phone number</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="user.user_phone" name="phone">
    </div>
    <div class="form-group">
      <label for="name">Age</label>
      <input type="text" class="form-control" id="Age" required [(ngModel)]="user.user_age" name="Age">
    </div>
    <div class="form-group">
      <label for="name">Status</label>
      <input type="text" class="form-control" id="Status" required [(ngModel)]="user.user_status" name="Status">
    </div>

    <button class="btn btn-success">Submit</button>
    <button style='margin-right: 16px' (click)="list()" class="btn btn-success">Back to users</button>
  </form>